div {
  height: 200px;
  width: 200px;
  padding: 50px;
  border: 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  background-color: #ff4136;
  box-sizing: border-box;
}

#third-div {
  min-height: 10px;
  min-width: 100px;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-grow: 1; /* Safari 6.1+ */
  -webkit-flex-shrink: 1; /* Safari 6.1+ */
  -webkit-flex-basis: 100px; /* Safari 6.1+ */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;


}

p {
  background-color: #7fdbff;
}

.image-1-container {
  width: 200px;
  height: 600px;
  background-color: aquamarine;
  display:inline-block;
}

.image-2-container {
  width: 100%
}

.image-3-container {
  display:inline-block;
  margin: auto;
}